/* add your css styles here! */
.card-body {
    text-align: center;
  }
  .row-hero {
      height: 100px;
  }
 .container-fluid hero {
     background-image: src="../images/striped-background.svg";
    height: 500px;     
 }